---
import Icon from "./Icon.astro";
interface Props {
  title: string;
  description: string;
  href: string;
  highlight?: boolean;
  index?: number;
}

const { href, title, description, index = 0 } = Astro.props as Props;
---

<li
  class="link-card list-none flex p-px bg-[#23262D] bg-none rounded-lg w-full min-h-[250px]"
>
  <a
    href={href}
    class:list={[
      "grid items-center lg:grid-cols-2 p-[calc(1.5rem-1px)] text-white opacity-80 bg-[#23262D] rounded-lg no-underline text-base w-full",
    ]}
  >
    <Icon icon={title} className={`text-white relative w-1/2 m-auto lg:pr-8`} />
    <div
      class:list={["mt-8 lg:mt-0 lg:pl-8", index % 2 !== 0 && "lg:-order-1"]}
    >
      <h2 transition:name={title} class="m-0 text-xl">
        {title}
        <span> &rarr;</span>
      </h2>
      <p class="mt-2 mb-0">
        {description}
      </p>
    </div>
  </a>
</li>
<style>
  h2 {
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }
</style>
